<li class="pieceContainer">
	<div class="masterpieceName line">{{name}}</div>
	<div class="piece">
		<img src="http://ns329853.ip-37-187-117.eu/apiInfluence/API/public/photos/{{image}}" alt="{{alt}}">
	</div>
</li>
