<div class="timeline fixed timeline-reduce"></div>
	<div class="universe">
		<ul class="timelineNavigation"></ul>
	</div>
<div class="orbitsContainer"></div>
<footer class="footer">
	<ul>
		<li><a href="https://twitter.com/home?status=D%C3%A9couvrez%20les%20impacts%20des%20chefs%20d'oeuvre%20sur%20l'histoire%20!">Twitter</a></li>
				<li><a href="https://www.facebook.com/sharer/sharer.php?u=http://influence.robinmastromarino.com/">Facebook</a></li>
	</ul>
</footer>
